/* 
====== 
Fonts
======
*/
/* @import url("https://fonts.googleapis.com/css?family=Arial:300,400&display=swap");  */
/* 
====== 
Variables 
======
*/
:root {
  --primaryColor: #1c466e;
  --mainWhite: #f1f0f3;
  --offWhite:  #f7f0e7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.15rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --contenedorShadow: 0 -80px 4px 80px rgba(0, 0, 0, 0.11);
  --darkShadow: 4px 10px 5px 0px #0302025e;
  --mainBorderRadius: 0.45rem;
  --universal-border-radius: 0.45rem;
  --universal-margin: 0.2rem;
  --universal-padding: 0.2rem;
  --coorporate-dark: #20272F;
  --violet1:#584547;
  --violet2:#675057;
  --violet3:#917788;
  --brown1:#8c655a;
  --brown2:#b5896f;
	--brown3: #e8ab75;
	
--bluegrey1: #7CA0AE;
--bluegrey2: #7B9AA6;
--blue0: #5C798E;
--blue1: #403661;
--blue2: #5598D0;
--blue3: #6DB1EA;
--blue4: #1c466e;
--coorporatelight: #eee0cd;
}


/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Arial", sans-serif;
  color: var(--mainBlack);
  background: var(--mainGrey);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial";
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
/* 
====== 
Buttons 
======
*/
.btn,
.btn-white,
.btn-primary {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  color: var(--mainGrey);
  border: 2px solid var(--offWhite);
  padding: 0.8rem 2rem;
  display: block; 
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: var(--mainBorderRadius);
  background: transparent ;
	;
}
.btn:hover {
  background: #5598D0;;
  color: var(--mainWhite);
}
.btn-white {
  background: transparent;
  color: var(--primaryColor);
  border-color: var(--primaryColor);
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
}
.disabled {
  color: var(--darkGrey);
  border-color: var(--darkGrey);
}
.disabled:hover {
  background: transparent;
  color: var(--darkGrey);
  border-color: var(--darkGrey);
}

/* 
====== 
Content 
======
*/
.content {
  padding: 3rem 0;
  width: 85vw;
  max-width: 35rem;
  margin: 0 auto;
}

/* 
====== 
Main Title 
======
*/
.main-title {
  text-transform: capitalize;
  color: var(--primaryColor);
  margin-bottom: 2rem;
}
/* 
====== 
Single Expense
======
*/
.single-expense {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1.3rem 1rem;
  border-radius: var(--mainBorderRadius);
  background: var(--mainWhite);
  box-shadow: var(--lightShadow);
}
.single-expense h2 {
  margin-bottom: 0;
  font-weight: 300;
}
.single-expense h4 {
  margin-bottom: 0;
  margin-top: 1rem;
  font-weight: 300;
  color: var(--primaryColor);
}

.expense-btn {
  font-size: 1rem;
  background: transparent;
  border: none;
  margin: 0 0.4rem;
  transition: var(--mainTransition);
  cursor: pointer;
}
.expense-btn:hover {
  transform: scale(1.2);
}
.amount-btn {
  font-size: 1.3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--primaryColor);
}
.delete-btn {
  color: red;
}
.edit-btn {
  color: green;
}
/* 
====== 
Expense Form
======
*/

.expense-form {
  background: var(--mainWhite);
  padding: 1.25rem 1rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control label {
  display: block;
}
.form-control input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--darkGrey);
  margin-bottom: 1.25rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.form-empty {
  text-align: center;
  color: red;
}
.form {
  position: relative;
  margin-bottom: 5rem;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 4.2rem;
  justify-content: space-between;
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
}
/* 
====== 
Modal
======
*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.modal-content {
  background: var(--mainWhite);
  width: 85vw;
  max-width: 35rem;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 3rem;
  border-radius: var(--mainBorderRadius);
  position: relative;
}
.modal-content .expense-form {
  box-shadow: none;
}
.modal-container .form {
  margin-bottom: 0;
}
.modal-container .expense-form {
  padding: 1.25rem 0;
}
.modal-container .form {
  position: static;
}
.modal-container .close-btn {
  top: 2%;
  right: 3%;
}
/* 
====== 
Github Users
======
*/

.user {
  margin: 2rem 0;
  box-shadow: var(--lightShadow);
  display: grid;
  grid-template-columns: auto 1fr;
  border-radius: var(--mainBorderRadius);
  grid-column-gap: 2rem;
  background: var(--mainWhite);
}
.user img {
  width: 6rem;
  border-top-left-radius: var(--mainBorderRadius);
  border-bottom-left-radius: var(--mainBorderRadius);
}
.user-info {
  padding-top: 0.75rem;
}
.user-info h3 {
  margin-bottom: 0.75rem;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  
}

.col-sm,
[class^='col-sm-'],
[class^='col-sm-offset-'],
.row[class*='cols-sm-'] > * {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0 calc(var(--universal-padding) / 2);
}

.col-sm,
.row.cols-sm > * {
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

.col-sm-1,
.row.cols-sm-1 > * {
  max-width: 8.33333%;
  flex-basis: 8.33333%;
}

.col-sm-offset-0 {
  margin-left: 0;
}

.col-sm-2,
.row.cols-sm-2 > * {
  max-width: 16.66667%;
  flex-basis: 16.66667%;
}

.col-sm-offset-1 {
  margin-left: 8.33333%;
}

.col-sm-3,
.row.cols-sm-3 > * {
  max-width: 25%;
  flex-basis: 25%;
}

.col-sm-offset-2 {
  margin-left: 16.66667%;
}

.col-sm-4,
.row.cols-sm-4 > * {
  max-width: 33.33333%;
  flex-basis: 33.33333%;
}

.col-sm-offset-3 {
  margin-left: 25%;
}

.col-sm-5,
.row.cols-sm-5 > * {
  max-width: 41.66667%;
  flex-basis: 41.66667%;
}

.col-sm-offset-4 {
  margin-left: 33.33333%;
}

.col-sm-6,
.row.cols-sm-6 > * {
  max-width: 50%;
  flex-basis: 50%;
}

.col-sm-offset-5 {
  margin-left: 41.66667%;
}

.col-sm-7,
.row.cols-sm-7 > * {
  max-width: 58.33333%;
  flex-basis: 58.33333%;
}

.col-sm-offset-6 {
  margin-left: 50%;
}

.col-sm-8,
.row.cols-sm-8 > * {
  max-width: 66.66667%;
  flex-basis: 66.66667%;
}

.col-sm-offset-7 {
  margin-left: 58.33333%;
}

.col-sm-9,
.row.cols-sm-9 > * {
  max-width: 75%;
  flex-basis: 75%;
}

.col-sm-offset-8 {
  margin-left: 66.66667%;
}

.col-sm-10,
.row.cols-sm-10 > * {
  max-width: 83.33333%;
  flex-basis: 83.33333%;
}

.col-sm-offset-9 {
  margin-left: 75%;
}

.col-sm-11,
.row.cols-sm-11 > * {
  max-width: 91.66667%;
  flex-basis: 91.66667%;
}

.col-sm-offset-10 {
  margin-left: 83.33333%;
}

.col-sm-12,
.row.cols-sm-12 > * {
  max-width: 100%;
  flex-basis: 100%;
}

.col-sm-offset-11 {
  margin-left: 91.66667%;
}

.col-sm-normal {
  order: initial;
}

.col-sm-first {
  order: -999;
}

.col-sm-last {
  order: 999;
}

@media screen and (min-width: 768px) {
  .col-md,
  [class^='col-md-'],
  [class^='col-md-offset-'],
  .row[class*='cols-md-'] > * {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 calc(var(--universal-padding) / 2);
  }
  .col-md,
  .row.cols-md > * {
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
  }
  .col-md-1,
  .row.cols-md-1 > * {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-2,
  .row.cols-md-2 > * {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-3,
  .row.cols-md-3 > * {
    max-width: 25%;
    flex-basis: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-4,
  .row.cols-md-4 > * {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-5,
  .row.cols-md-5 > * {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-6,
  .row.cols-md-6 > * {
    max-width: 50%;
    flex-basis: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-7,
  .row.cols-md-7 > * {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-8,
  .row.cols-md-8 > * {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-9,
  .row.cols-md-9 > * {
    max-width: 75%;
    flex-basis: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-10,
  .row.cols-md-10 > * {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-11,
  .row.cols-md-11 > * {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-12,
  .row.cols-md-12 > * {
    max-width: 100%;
    flex-basis: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-normal {
    order: initial;
  }
  .col-md-first {
    order: -999;
  }
  .col-md-last {
    order: 999;
  }
}

@media screen and (min-width: 1280px) {
  .col-lg,
  [class^='col-lg-'],
  [class^='col-lg-offset-'],
  .row[class*='cols-lg-'] > * {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 calc(var(--universal-padding) / 2);
  }
  .col-lg,
  .row.cols-lg > * {
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
  }
  .col-lg-1,
  .row.cols-lg-1 > * {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-2,
  .row.cols-lg-2 > * {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-3,
  .row.cols-lg-3 > * {
    max-width: 25%;
    flex-basis: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-4,
  .row.cols-lg-4 > * {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-5,
  .row.cols-lg-5 > * {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-6,
  .row.cols-lg-6 > * {
    max-width: 50%;
    flex-basis: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-7,
  .row.cols-lg-7 > * {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-8,
  .row.cols-lg-8 > * {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-9,
  .row.cols-lg-9 > * {
    max-width: 75%;
    flex-basis: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-10,
  .row.cols-lg-10 > * {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-11,
  .row.cols-lg-11 > * {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-12,
  .row.cols-lg-12 > * {
    max-width: 100%;
    flex-basis: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-normal {
    order: initial;
  }
  .col-lg-first {
    order: -999;
  }
  .col-lg-last {
    order: 999;
  }
}
